.root {
    flex-grow: 1;
    padding: 8px 0;
}

.firstRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.heading {
    font-size: 1.25em;
    font-weight: bold;
    padding: 16px 0;
}

.backButtonPlaceholder {
    width: 32px;
}

.closeBtn {
    padding: 4px;
    line-height: 0;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    background: #0000004a;
}

.searchBarContainer {
    padding: 8px 16px;
    padding-top: 0;
}

.searchBar {
    width: 100%;
    padding: 12px 16px;
    border-radius: 99px;
    border: 1px solid #ffffff40;
    background: #242424;
}