.root {
    display: flex;
    padding: 2px 16px;
    align-items: center;
    background-color: var(--appheader-bg);
    border-top: 1px solid var(--border-color);
    width: 100%;
    gap: 0 16px;

    @media (max-width: 700px) {
        padding: 8px 16px;
    }

    @media (max-width: 480px) {
        flex-direction: column;
    }
}

.firstRowMobile {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    width: 100%;

    &>button {
        order: 1;
        margin-right: -8px;
    }

    @media (min-width: 481px) {
        display: contents;
    }
}

.logoContainer {
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
}

.logo {
    margin: -8px -8px;
    flex-shrink: 0;
    flex-grow: 0;
    order: 0;
}

.text {
    font-size: 0.75em;
    flex-grow: 1;
}