.appRoot {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.leftRight {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 80px);
}

.sidebar {
    width: 350px;
}

.mapWrapper {
    flex-grow: 1;
}

.mapContainer {
    height: 100%;
}