.wrapper {
    display: flex;
    flex-grow: 1;
}

.leftRight {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    contain: strict;
}

.mapWrapper {
    flex-grow: 1;
}

.mapContainer {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .wrapper {
        flex-direction: column-reverse;
    }
}