.root {
    flex-grow: 1;
}

.heading {
    margin-top: 1.125em;
    font-weight: bold;
}

.content {
    line-height: 2;
    padding: 32px;
}

.content label {
    display: block;
}

.content label>input[type="radio"] {
    margin-right: 8px;
}