.root {
    flex-grow: 1;
}

.searchBarContainer {
    padding: 8px 16px;
    padding-top: 0;
}

.searchBar {
    width: 100%;
    padding: 12px 16px;
    border-radius: 99px;
    border: 1px solid var(--border-color2);
    background-color: var(--searchbar-bg);
    font-size: 0.9em;
}

.emptyList {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 64px;
    font-style: italic;
}