.root {
    flex-grow: 1;
    padding: 8px 0;
}

.firstRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.heading {
    font-size: 1.25em;
    font-weight: bold;
    padding: 16px 0;
}

.backButton {
    padding: 4px;
    line-height: 0;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

.closeBtn {
    padding: 4px;
    line-height: 0;
    border: 0;
    border-radius: 100%;
    background-color: #0000004a;
    cursor: pointer;
}

.heading2 {
    margin-top: 1.33em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.content {
    line-height: 2;
    padding: 32px;
}