.root {
    --color: light-dark(#7167a0, #4ea1dd);
    color: var(--color);

    :global :root.highContrastTheme :local &:hover {
        outline: 2px solid white;
    }
}

.active {
    color: color-mix(in oklab, var(--color), #f00 80%);

    :global :root.highContrastTheme :local(&) {
        outline: 2px solid yellow;
    }
}