.root {
    flex-grow: 1;
}

.heading {
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

.content {
    line-height: 2;
    padding-bottom: 24px;
    font-size: 0.90em;
}

.iconBtn {
    padding: 12px;
}

.iconBtnBar {
    display: flex;
    justify-content: space-between;
    padding-inline: 48px;
}

.currentConditions {
    display: grid;
    grid-template-columns: 128px 128px;
    justify-content: space-around;
    gap: 16px 0;
    padding: 0 16px;
}

.updateDate {
    color: var(--text-color-secondary);
    margin: 4px 32px;
}

.loading {
    margin-top: 2em;
    margin-bottom: 0.4em;
    text-align: center;
}