.root {
    flex-grow: 1;
}

.heading {
    margin-top: 1.33em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.content {
    line-height: 2;
    padding: 32px;
}

.iconButton {
    padding: 12px;
    line-height: 0;
    border: 0;
    background-color: inherit;
    cursor: pointer;
    border-radius: 64px;
    transition: .2s background-color;
}

.iconButton:hover {
    background-color: var(--icon-btn-hover-color);
}

.iconButton:active {
    background-color: var(--icon-btn-active-color);
}

.iconBtnBar {
    display: flex;
    justify-content: space-between;
    padding-inline: 48px;
}