.root {
    flex-grow: 1;
}

.heading {
    margin-top: 1.33em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.content {
    line-height: 2;
    padding: 32px;
}

.iconBtn {
    padding: 12px;
}

.iconBtnBar {
    display: flex;
    justify-content: space-between;
    padding-inline: 48px;
}