.root {
    width: 100px;
    border-right: 1px solid var(--border-layer-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--alt-navbar-bg);
}

.item {
    border: 0;
    font: inherit;
    background-color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-block: 16px;
    font-size: 0.75em;
}

.item:hover {
    transition: .1s background-color, color;
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}

.item>div {
    padding-top: 4px;
}

.logo {
    margin: 16px 0;
    margin-bottom: 10px;

    :global :root.lightTheme :local(&) {
        filter: invert(80%);
    }
}


@media screen and (max-width: 700px) {
    .root {
        display: flex;
        flex-direction: row;
        width: 100%;
        z-index: 1001;
        background-color: var(--alt-navbar-bg);
        border-right: 0;
        border-top: 1px solid var(--border-color);
    }

    .logo {
        display: none;
    }
}