.wrapper {
    display: flex;
    flex-grow: 1;

    @media (max-width: 700px) {
        display: contents;

        .navbar {
            order: 2;
        }
    }
    }

.mniswBar {
    order: 1;
}

.leftRight {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    contain: strict;
    order: 0;

}

.mapContainer {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary);
}