.wrapper {
    display: flex;
    flex-grow: 1;

    @media (max-width: 700px) {
        flex-direction: column-reverse;
    }
}

.leftRight {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    contain: strict;
}

.mapContainer {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary);
}