.root {
    display: flex;
    padding: 16px;
    align-items: center;
    background-color: var(--appheader-bg);
    border-bottom: 2px solid var(--border-color);
    width: 100%;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-inline-end: 8px;

    :global :root.lightTheme :local(&) {
        filter: invert(80%);
    }
}

.heading {
    font-size: 1.6em;
    font-weight: bold;
}