.root {
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    height: 80px;
}

.root>h1 {
    margin: 0;
    align-self: center;
}

.logo {
    margin-inline-end: 14px;
    max-width: 100%;
    height: 100%;
}