.root {
    display: flex;
    padding: 16px;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-inline-end: 16px;
}

.heading {
    font-size: 2em;
    font-weight: bold;
}