.root {
    display: flex;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -4px;
    line-height: 1.3em;
}

.icon {
    margin-right: 12px;
    flex-shrink: 0;
    font-size: 22px;
}

.multilineValue {
    font-size: 0.9em;
}