*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;

    --color-surface-1: hsl(270, 4%, 11%);
    --color-surface-2: hsl(300, 3%, 13%);
    --color-surface-3: hsl(300, 2%, 16%);
    --color-surface-4: hsl(300, 2%, 21%);
    --color-surface-5: hsl(300, 2%, 21%);
    --text-color-grey-300: rgb(176, 183, 197);
    --text-color-grey-400: rgb(167, 175, 190);
    --text-color-grey-500: rgb(151, 158, 172);

    --text-color-primary: #e2e2e4;
    --text-color-secondary: hsla(0, 0%, 100%, 0.67);
    --text-color-inverted: hsl(208, 37%, 20%);
    --text-color-status-offline: grey;
    --bg-primary: #0F121B;
    --bg-secondary: var(--color-surface-3);
    --bg-tertiary: #12161F;
    --accent-color: #1e2435;
    /* --accent-text-color: hsl(213, 81%, 21%); */
    --border-color: rgb(68 71 78);
    --border-color2: hsl(0, 0%, 20%);
    --border-layer-color: rgb(29, 40, 58);
    --primary-btn-color: hsl(217, 89%, 82%);
    --primary-btn-hover-color: hsl(217, 89%, 86%);
    --primary-btn-active-color: hsl(217, 89%, 89%);
    --primary-btn-text-color: black;
    --icon-btn-hover-color: var(--bg-secondary);
    --icon-btn-active-color: hsl(0, 0%, 21%);
    --input-border-color: hsl(140, 1%, 56%);
    --shadow-color: var(--border-color);
    --chart-line-color: var(--primary-btn-color);

    --login-panel-bg: var(--bg-secondary);
    --appheader-bg: var(--bg-primary);
    --sidebar-bg: var(--bg-primary);
    --searchbar-bg: inherit;
    --searchbar-text-color: hsl(240, 14%, 90%);
    --searchbar-border-color: #2A3445;
    --alt-navbar-bg: var(--bg-primary);
    --list-item-hover-bg: var(--accent-color);

    --safe-area-max-inset-bottom: env(safe-area-max-inset-bottom, 0px);
    --bottom-bar-height: 78px;
}

.lightTheme:root {
    color-scheme: light;

    --color-surface-1: #f8f1f6;
    --color-surface-2: #f2ecee;
    --color-surface-3: #ece7e9;
    --color-surface-4: #e6e1e3;
    --color-surface-5: #e6e1e3;
    --text-color-grey-300: rgb(77, 80, 89);
    --text-color-grey-400: rgb(82, 85, 93);
    --text-color-grey-500: rgb(88, 92, 103);

    --text-color-primary: hsl(208, 37%, 20%);
    --text-color-secondary: hsl(207, 5%, 45%);
    --text-color-inverted: hsla(0, 0%, 100%, 0.87);
    --text-color-status-outdated: hsl(0, 28%, 51%);
    --text-color-status-offline: grey;
    --bg-primary: white;
    --bg-secondary: var(--color-surface-3);
    --bg-tertiary: var(--color-surface-1);
    --accent-color: #dcdaf5;
    /* --accent-text-color: white; */
    --border-color: hsl(0, 0%, 86%);
    --border-color2: hsl(0, 0%, 92%);
    --border-layer-color: transparent;

    --primary-btn-color: var(--bg-secondary);
    --primary-btn-hover-color: color-mix(in oklab, var(--bg-secondary), #000 7%);
    --primary-btn-active-color: color-mix(in oklab, var(--bg-secondary), #000 15%);
    --primary-btn-text-color: var(--text-color-primary);
    --icon-btn-hover-color: var(--bg-secondary);
    --icon-btn-active-color: hsl(213, 43%, 92%);
    --input-border-color: hsl(140, 1%, 56%);
    --shadow-color: hsl(0, 0%, 28%);
    --chart-line-color: hsl(217, 62%, 47%);

    --login-panel-bg: var(--bg-primary);
    --appheader-bg: var(--bg-primary);
    --sidebar-bg: var(--bg-primary);
    --searchbar-bg: hsl(0, 0%, 95%);
    --searchbar-text-color: hsl(270, 4%, 11%);
    --searchbar-border-color: transparent;
    --alt-navbar-bg: var(--bg-secondary);
    --list-item-hover-bg: #e7e5fa;
}

.highContrastTheme:root {
    color-scheme: dark;

    --text-color-grey-300: white;
    --text-color-grey-400: white;
    --text-color-grey-500: white;

    --text-color-primary: white;
    --text-color-inverted: black;
    --text-color-status-outdated: var(--text-color-primary);
    --text-color-status-offline: var(--text-color-primary);
    --bg-primary: black;
    --bg-secondary: black;
    --bg-tertiary: black;
    --accent-color: transparent;
    --accent-text-color: var(--text-color-primary);
    --border-color: white;
    --border-color2: white;
    --border-layer-color: white;
    --primary-btn-color: yellow;
    --primary-btn-hover-color: white;
    --primary-btn-active-color: hsl(217, 89%, 87%);
    --primary-btn-text-color: var(--text-color-inverted);
    --icon-btn-hover-color: var(--bg-secondary);
    --icon-btn-active-color: transparent;
    --input-border-color: white;
    --shadow-color: hsl(0, 0%, 0%);
    --chart-line-color: var(--primary-btn-color);

    --login-panel-bg: var(--bg-primary);
    --appheader-bg: var(--bg-primary);
    --sidebar-bg: var(--bg-primary);
    --searchbar-bg: var(--bg-secondary);
    --searchbar-text-color: var(--text-color-primary);
    --searchbar-border-color: var(--text-color-primary);
    --alt-navbar-bg: var(--bg-secondary);
    --list-item-hover-bg: var(--accent-color);

    a,
    label {
        color: yellow;
    }

    a:hover,
    button:hover,
    label:hover {
        outline: 2px solid white;
        z-index: 1;
    }

    input[type="radio"] {
        accent-color: yellow;
    }
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: var(--chart-line-color);
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    line-height: 1.5;
    color: var(--text-color-primary);
    background-color: var(--bg-tertiary);
    height: 100vh;

    @media (max-width: 700px) {
        padding-bottom: calc(var(--bottom-bar-height) + var(--safe-area-max-inset-bottom));
    }
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}