*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;

    --text-color-primary: hsla(0, 0%, 100%, 0.87);
    --text-color-inverted: hsl(208, 37%, 20%);
    --bg-primary: hsl(0, 0%, 14%);
    --bg-secondary: hsl(0, 0%, 18%);
    --bg-tertiary: hsla(0, 0%, 0%, 0.071);
    --accent-color: hsl(120, 19%, 40%);
    --accent-text-color: var(--text-color-primary);
    --border-color: hsl(0, 0%, 19%);
    --border-color2: hsla(0, 0%, 100%, 0.25);
    --primary-btn-color: hsl(217, 89%, 82%);
    --primary-btn-hover-color: hsl(217, 89%, 84%);
    --primary-btn-active-color: hsl(217, 89%, 87%);
    --primary-btn-text-color: var(--text-color-inverted);
    --input-border-color: hsl(140, 1%, 56%);

    --appheader-bg: var(--bg-primary);
    --sidebar-bg: var(--bg-primary);
    --searchbar-bg: var(--bg-tertiary);
    --alt-navbar-bg: var(--bg-secondary);
}

.lightTheme:root {
    color-scheme: light;

    --text-color-primary: hsl(208, 37%, 20%);
    --text-color-inverted: hsla(0, 0%, 100%, 0.87);
    --bg-primary: hsl(0, 0%, 100%);
    --bg-secondary: hsl(213, 43%, 96%);
    --bg-tertiary: hsla(0, 0%, 100%, 0.071);
    --accent-color: hsl(120, 19%, 46%);
    --accent-text-color: var(--text-color-inverted);
    --border-color: hsl(0, 0%, 92%);
    --border-color2: var(--border-color);
    --primary-btn-color: hsl(217, 90%, 43%);
    --primary-btn-hover-color: hsl(217, 90%, 45%);
    --primary-btn-active-color: hsl(217, 90%, 40%);
    --primary-btn-text-color: white;
    --input-border-color: hsl(140, 1%, 56%);

    --appheader-bg: var(--bg-primary);
    --sidebar-bg: var(--bg-primary);
    --searchbar-bg: var(--bg-secondary);
    --alt-navbar-bg: var(--bg-primary);
}

:root.darkTheme {
    .leaflet-layer {
        filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
    }

    .leaflet-control-attribution {
        background-color: var(--bg-primary) !important;
        color: var(--text-color-primary) !important;
    }

    .leaflet-control-attribution>a {
        color: #01B7FF !important;
    }


    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
        color: rgba(255, 255, 255, 0.6) !important;
    }

    .leaflet-bar a {
        border-bottom: 0 !important;
        border: 1px solid var(--border-color) !important;
        background-color: var(--bg-primary) !important;
    }
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    color: var(--text-color-primary);
    background-color: var(--bg-primary);
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}