:root.darkTheme {

    .leaflet-layer,
    .leaflet-gl-layer {
        filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
    }

    .leaflet-control-attribution {
        background-color: var(--bg-primary) !important;
        color: var(--text-color-primary) !important;
    }

    .leaflet-control-attribution>a {
        color: #01B7FF !important;
    }


    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
        color: rgba(255, 255, 255, 0.6) !important;
    }

    .leaflet-bar a {
        border-bottom: 0 !important;
        border: 1px solid var(--border-color2) !important;
        background-color: var(--bg-primary) !important;
    }
}

:root.highContrastTheme {
    .leaflet-layer {
        filter: invert(100%) hue-rotate(180deg) contrast(100%) !important;
    }

    .leaflet-control-attribution {
        background-color: var(--bg-primary) !important;
        color: var(--text-color-primary) !important;
    }

    .leaflet-control-attribution>a {
        color: yellow !important;
    }


    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
        color: yellow !important;
    }

    .leaflet-bar a {
        border-bottom: 0 !important;
        border: 1px solid yellow !important;
        background-color: var(--bg-primary) !important;
    }

    .leaflet-marker-icon {
        filter: hue-rotate(190deg);
    }

    .leaflet-marker-icon:hover {
        outline: 2px solid white !important;
    }
}