.root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &>div {
        padding: 0 16px;
    }
}

.message {
    margin-top: 1em;
    margin-bottom: 0.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}