.root {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
}

.appHeader {
    position: fixed;
}

.container {
    margin: 0 auto;
    width: 400px;
    padding: 32px;
    border-radius: 28px;
    background-color: var(--bg-primary);

    :global :root.lightTheme :local(&) {
        box-shadow: 0 0 16px 0 hsl(0, 0%, 84%);
    }
}

.heading {
    margin: 16px 0;
    font-size: 1.5em;
    font-weight: bold;
}

.textInput {
    width: 100%;
    padding: 16px;
    margin: 8px 0;
    border-radius: 12px;
    border: 1px solid var(--input-border-color);
    background-color: transparent;
    font-size: 0.9em;
}

.checkboxContainer {
    margin: 8px 0;
    font-size: 0.875em;
    display: flex;
}

.checkbox {
    margin-right: 8px;
}

.btn {
    width: 100%;
    padding: 14px 24px;
    margin: 16px 0;
    background-color: var(--primary-btn-color);
    border-radius: 20px;
    border: 0;
    color: var(--primary-btn-text-color);
    font-size: 0.9em;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-btn-hover-color);
}

.btn:active {
    background-color: var(--primary-btn-active-color);
}

.suggestion {
    font-size: 0.875em;
}

.link {
    text-decoration: none;
    color: var(--primary-btn-color);
}

.link:hover {
    text-decoration: underline;
}